:root {
    --color-primario: #0B2559;
    --color-secundario: #183B59;
    --color-terciario: #2A5159;
    --color-fondo: #327355;
    --color-texto: #5C8C46;
  }
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #1d202b;
    color: #cfd0d1;
}

*, :after, :before {
    box-sizing: border-box;
}

.active{
    color: #00e0ff;
}

.hidden{
    display: none;
}

.right{
    padding-right: 20px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: var(--color-primario);
  color: var(--color-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    text-align: center;
    background-color: #1d202b;
    color: #cfd0d1;
}

.b{
    font-weight: bold;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #4d4d4d;
}

th {
    background-color: #36393f;
    color: #cfd0d1;
}

input[type=number] {
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    color: #cfd0d1;
    background-color: #2f3136;
    border: 1px solid #4d4d4d;
}

select {
    padding: 4px;
    margin-right: 10px;
    margin-left: -5px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    color: #cfd0d1;
    background-color: #2f3136;
    border: 1px solid #4d4d4d;
}

.label{
    padding: 4px;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
}

.nomargin{
    margin-top: unset;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column;
}

span{
    display: inherit;
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

/* Aspecto futurista */
body{
    background-color: #0a0c10;
    color: #fff;
}

nav{
    background-color: #0a0ca0
}